.card4{

    margin-top: 20px;
    box-shadow: 0px 0px 3px 1px #efe8e8;
    padding: 20px;
    &:hover{
        cursor: pointer;
        .arrow4{
            background-color: #00b533;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        .arrow4{
            width: 60px;
            height: 60px;
            background-color: #efecec;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            
        }
    }
    &__bot{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        img{
            width: 100px !important;
        }
    }
}