@import "./_variable.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



img{
  max-width: 100%;
  max-height: 100%;
}
a{
  text-decoration: none !important;
  color:  inherit !important;
  font-size: inherit !important;
}
.card4{
  width: 49.5%;
}
li{
  list-style: none;
}
.cardmap{
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.navbarfix{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 22;
  padding: 5px 0;
  width: 100%;
}

@media(max-width:992px){
  .card4{
    width: 100%;
  }
 
}